<header id="header" class="fixed-top" >
  <div class="logo-container" >
    <a class="rh5 rml2 logo" [routerLink]="['/home']" fragment="home" (click)="SetActiveLinkName('home')">Leader Analytics</a>
  </div>

  <div id="nav-container" class="fixed-top">
  <nav class="navbar navbar-expand-lg my-navbar ">
    <button style="margin-left:auto" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icofont-navigation-menu text-white"></i>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-space-even">
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="['/home']" fragment="home" [class.activelink]="ActiveLinkName === 'home'" (click)="SetActiveLinkName('home')">Home</a>
        </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="['/home']" fragment="about" [class.activelink]="ActiveLinkName === 'about'" (click)="SetActiveLinkName('about')">About</a>
        </li>

        <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/home']" fragment="services" [class.activelink]="ActiveLinkName === 'services'" (click)="SetActiveLinkName('services')">Enterprise Software Development</a>
            <a class="dropdown-item" [routerLink]="['/home']" fragment="webdev" [class.activelink]="ActiveLinkName === 'webdev'" (click)="SetActiveLinkName('webdev')">Web Development</a>
            <a class="dropdown-item" [routerLink]="['/home']" fragment="mobiledev" [class.activelink]="ActiveLinkName === 'mobiledev'" (click)="SetActiveLinkName('mobiledev')">Mobile Application Development</a>
          </div>
        </li>


        <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Applications
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/apps/vyntix']" [class.activelink]="ActiveLinkName === 'vyntix'" (click)="SetActiveLinkName('vyntix')">Vyntix</a>
            <a class="dropdown-item" [routerLink]="['/apps/vyntix-fred-client']" [class.activelink]="ActiveLinkName === 'fred-client'" (click)="SetActiveLinkName('fred-client')">Vyntix FRED Client</a>
            <a class="dropdown-item" [routerLink]="['/apps/vyntix-downloader']" [class.activelink]="ActiveLinkName === 'downloader'" (click)="SetActiveLinkName('downloader')">Vyntix Downloader</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/apps/adaptiveclient']" [class.activelink]="ActiveLinkName === 'adaptiveclient'" (click)="SetActiveLinkName('adaptiveclient')">Adaptive Client</a>
            <a class="dropdown-item" [routerLink]="['/apps/caching']" [class.activelink]="ActiveLinkName === 'caching'" (click)="SetActiveLinkName('caching')">Caching Library</a>
          </div>
        </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" [routerLink]="['/home']" fragment="contact" [class.activelink]="ActiveLinkName === 'contact'" (click)="SetActiveLinkName('contact')">Contact</a>
        </li>


        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="stateService.IsLoggedIn | async">
          <a style="cursor:pointer;" class="nav-link" [routerLink]="['/profile']" [class.activelink]="ActiveLinkName === 'profile'"><i class="icofont-presentation"></i>&nbsp;Profile</a>
        </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!(stateService.IsLoggedIn | async)">
          <a style="cursor:pointer;" class="nav-link" (click)="login()"><i class="icofont-login"></i>&nbsp;Log in</a>
        </li>

        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="stateService.IsLoggedIn | async">
          <a style="cursor:pointer;" class="nav-link" (click)="logout()"><i class="icofont-logout"></i>&nbsp;Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header>
<!--We have to bind to the event otherwise the control does not render-->
<app-login [visibleEvent]="showLoginDialog"></app-login>



