  <!-- ======= Home Section ======= -->
  <div id="home">
    <div class="slide1">
      <div class="slide">
        <div class="slide-title rh4" aos-animate data-aos="fade-left">Imagine what you can do with software made specifically to fit your needs.</div>
        <a class="ready-btn" href="#about">Learn More</a>
      </div>
    </div>
  </div>
<!-- End Home -->
<!-- About -->
<section id="about" class="about-area area-padding" *ngIf="false">
  <div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2 data-aos="fade-up">Who we are</h2>
        </div>
      </div>
    </div>

    <div id="about-row" class="flexx-row">

      <div class="flexx-cell2 about-cell-left" data-aos="fade-up" >
        <img src="assets/img/about/1.jpg" alt="">
      </div>

      <div class="flexx-cell2 about-cell-right flex-column" data-aos="fade-up">
        <p class="rp">
          Leader Analytics is a software development company located in Oceanside, CA.
          Our founder began writing business software in the late 1980's to solve tough problems in the manufacturing industry.
          He than moved on to implement systems in finance, banking, and logistics.
          Over a period of three decades he accumulated a portfolio of software development techniques and best practices that form the foundation of what is now Leader Analytics.
        </p>
        <p class="rp">
          Today our company continues to focus on refining our development processes, acquiring the best talent in the business,
          and selecting tools and technologies that enable us to create world class software.
          From a development perspective, our core competencies are Microsoft .Net and the entire suite of Microsoft technologies and platforms.
          We write business applications for companies of all sizes across a variety of industries.
          Our mission is to efficiently create software that meets or exceeds our customers expectations.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About -->
<!-- ======= Enterprise Development Section ======= -->
<section id="services" class=" area-padding" *ngIf="false">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline text-center">
          <h2>What we do</h2>
        </div>
      </div>
    </div>
  </div>



  <div class="services">

    <div class="section-title aos-animate" data-aos="fade-up">
      <h2 class="text-center mb-5">Enterprise Software Development</h2>
    </div>
    <div class="outer-table">
      <!--row 1-->
      <div class="d-flex">
        <!--column 1-->
        <div class="copy-container shadow rp2 d-flex flex-column justify-content-between align-content-center" data-aos="fade-up" data-aos-delay="100">
          <div class="rh4 rmb1 text-center">Patterns and practices that are proven and time-tested.</div>

          <div class="copy-container2" >
            <img src="assets/img/services/code.png" />
            <img src="assets/img/services/azure.jpg" />
          </div>
          <p class="rh5 rmt1">
            We specialize in .Net development.
            We have extensive experience integrating our software with Microsoft technologies
            across the enterprise.
          </p>
        </div>
      </div>
      <div class="d-flex">
        <!--column 2-->
        <div class="inner-table">
          <!--inner table-->
          <div class="flexx-row">
            <!--row 1-->
            <div class="svcbox shadow" data-aos="zoom-in" data-aos-delay="150">
              <div class="icon-box-red">
                <div class="icon"><i class="icofont-lock"></i></div>
              </div>
              <h4 class="title">Secure</h4>
              <p class="rh6 rmt2">Trusted industry standard libraries to implement security.</p>
            </div>

            <div class="svcbox shadow" data-aos="zoom-in" data-aos-delay="150">
              <div class="icon-box-green">
                <div class="icon"><i class="icofont-compass"></i></div>
              </div>
              <h4 class="title">Reliable</h4>
              <p class="rh6 rmt2">Loosely coupled components that are designed for testability.</p>
            </div>
          </div>

          <div class="flexx-row">
            <!--row 2-->
            <div class="svcbox shadow" data-aos="zoom-in" data-aos-delay="150">
              <div class="icon-box-blue">
                <div class="icon"><i class="icofont-expand"></i></div>
              </div>
              <h4 class="title">Scalable</h4>
              <p class="rh6 rmt2">N-tier design patterns maximize code reusability.</p>
            </div>

            <div class="svcbox shadow" data-aos="zoom-in" data-aos-delay="150">
              <div class="icon-box-purple">
                <div class="icon"><i class="icofont-wrench"></i></div>
              </div>
              <h4 class="title">Configurable</h4>
              <p class="rh6 rmt2">Proven object-oriented patterns that allow components to be easily refactored.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Functional-->

  <div class="row text-center services">
    <div class="col-md-3 col-sm-4 col-xs-12" data-aos="fade-up" data-aos-delay="300">
      <div class="about-move">
        <div class="services-details">
          <div class="single-services">
            <div class="icon"><i class="icofont-binary"></i></div>
            <h4>Data APIs</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12" data-aos="fade-up" data-aos-delay="300">
      <div class="about-move">
        <div class="services-details">
          <div class="single-services">
            <div class="icon"><i class="icofont-data"></i></div>
            <h4>Financial Reporting</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12" data-aos="fade-up" data-aos-delay="300">
      <div class=" about-move">
        <div class="services-details">
          <div class="single-services">
            <div class="icon"><i class="icofont-cloud"></i></div>
            <h4>ERP/CRM Integration</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-12" data-aos="fade-up" data-aos-delay="300">
      <div class=" about-move">
        <div class="services-details">
          <div class="single-services">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4>Custom Applications</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-12" data-aos="fade-up" data-aos-delay="400">
      <div class=" about-move">
        <div class="services-details">
          <div class="single-services">
            <div class="icon"><i class="icofont-money"></i></div>
            <h4>Investing</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- End Left services -->
    <div class="col-md-3 col-sm-4 col-xs-12" data-aos="fade-up" data-aos-delay="400">
      <div class=" about-move">
        <div class="services-details">
          <div class="single-services">
            <div class="icon"><i class="icofont-dashboard-web"></i></div>
            <h4>Business Intelligence</h4>
          </div>
        </div>
      </div>
    </div>
    <!-- End Left services -->
    <div class="col-md-3 col-sm-4 col-xs-12" data-aos="fade-up" data-aos-delay="400">
      <div class=" about-move">
        <div class="services-details">
          <div class="single-services">
            <div class="icon"><i class="icofont-megaphone-alt"></i></div>
            <h4>Sales and Marketing</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-12" data-aos="fade-up" data-aos-delay="400">
      <div class=" about-move">
        <div class="services-details">
          <div class="single-services">
            <div class="icon"><i class="icofont-barcode"></i></div>
            <h4>Inventory and Warehousing</h4>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="action action-khaki">
    <span>We work with companies of all sizes. Contact us with your requirement and we will work with you to reach your goal.</span>
    <a class="btn btn-primary" [routerLink]="['/home']" fragment="contact" skipLocationChange>Get started now</a>
  </div>
</section>
<!-- ======= End Enterprise Development Section ======= -->
<!-- ======= Web Development Section ======= -->
<section id="webdev" class="webdev-area area-padding clearfix" *ngIf="false"> 

  <div class="section-title" data-aos="fade-up">
    <h2 class="text-center mb-5">Custom Website Development</h2>
  </div>

  <div class="webdev-cell2-1">
    <p class="webdev2-headline rh4">
      A great looking website is just the beginning
    </p>
  </div>
  <div class="webdev-cell2-2">
    <img src="assets/img/webdev/officewoman1.jpg" />
  </div>


  <div class="webdev-cell2-1">
    <p class="webdev2-copy rh6">
      Attract and retain clients. Get a website that will guide users to the information they need
      to make a decision to buy. Make the purchase experience quick and effortless.
    </p>

    <p class="webdev2-copy rh6">
      We can make your website a seamless extension of your business.
      Our experienced developers are experts at building the back office components required to process orders or
      deliver business content.
    </p>
  </div>
  <div class="webdev-cell2-1">
    <div class="webdev-img-container clearfix" >
      <div class="webdev-flex-row" > 
        <div class="webdev-img-cell">
          <!--Col 2-->
          <div class="webdev-txt-container shadow" data-aos="fade-up" data-aos-delay="0">
            <i class="icofont-web rh5"></i>
            <span class="title rh6">Corporate Websites</span>
            <ul>
              <li><span class="pointer">></span><span class="rp li">Promote corporate image</span></li>
              <li><span class="pointer">></span><span class="rp li">Increase brand awareness</span></li>
              <li><span class="pointer">></span><span class="rp li">Reach new markets</span></li>
            </ul>
          </div>
        </div>

        <div class="webdev-img-cell" >
          <div class="webdev-txt-container shadow" data-aos="fade-up" data-aos-delay="100">
            <i class="icofont-visa-alt rh5"></i>
            <span class="title rh6">Small Company Websites</span>
            <ul>
              <li><span class="pointer">></span><span class="rp li">Drive sales</span></li>
              <li><span class="pointer">></span><span class="rp li">Introduce new products</span></li>
              <li><span class="pointer">></span><span class="rp li">Expand market share</span></li>
            </ul>
          </div>
        </div>
      </div>



      <div class="webdev-flex-row">
        <div class="webdev-img-cell">
          <!--Col 3-->
          <div class="webdev-txt-container shadow" data-aos="fade-up" data-aos-delay="200">
            <i class="icofont-cart rh5"></i>
            <span class="title rh6">Back office Integration</span>
            <ul>
              <li><span class="pointer">></span><span class="rp li">Streamline operations</span></li>
              <li><span class="pointer">></span><span class="rp li">Eliminate manual processing</span></li>
              <li><span class="pointer">></span><span class="rp li">Improve customer experience</span></li>
            </ul>
          </div>
        </div>



        <div class="webdev-img-cell">
          <!--Col 2-->
          <div class="webdev-txt-container shadow" data-aos="fade-up" data-aos-delay="300">
            <i class="icofont-spreadsheet rh5"></i>
            <span class="title rh6">Intranet Portals</span>
            <ul>
              <li><span class="pointer">></span><span class="rp li">Train staff</span></li>
              <li><span class="pointer">></span><span class="rp li">Share internal data</span></li>
              <li><span class="pointer">></span><span class="rp li">Reduce paperwork</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
  <div class="action action-blue">
    <span>We do all the heavy lifting. Let one of our Account Mangers review your requirements and present a plan for moving forward.</span>
    <a class="btn btn-primary" [routerLink]="['/home']" fragment="contact" skipLocationChange>Get started now</a>
  </div>
</section>
<!-- ======= End Web Development Section ======= -->
<!-- ======= Mobile Development Section ======= -->
<section id="mobiledev" class="mobiledev-area area-padding" *ngIf="false">
  <div class="section-title aos-animate pt-5" data-aos="fade-up">
    <h2 class="text-center mb-5">Mobile Application Development</h2>
  </div>

  <div class="mobile-img-container">
    <img src="../../assets/img/mobiledev/creditcard.jpg" />
    <img src="../../assets/img/mobiledev/corpusers.jpg" />
    <img src="../../assets/img/mobiledev/retail2.jpg" />
  </div>

  <div class="mobiledev-table rmt2">

    <div class="mobiledev-row">
      <div class="mobiledev-cell5 mobiledev-cell5-1" data-aos="fade-up" data-aos-delay="0">
        <div class="mobiledev-circle"><i class="icofont-smart-phone"></i></div>
        <span class="rh5">Remote Sales Force</span>
      </div>

      <div class="mobiledev-cell5 mobiledev-cell5-2" data-aos="fade-up" data-aos-delay="100">
        <div class="mobiledev-circle">
          <i class="icofont-smart-phone"></i>
        </div>
        <span class="rh5">Product Information Portal</span>
      </div>
    </div>

    <div class="mobiledev-row">
      <div class="mobiledev-cell5 mobiledev-cell5-3" data-aos="fade-up" data-aos-delay="200">
        <div class="mobiledev-circle">
          <i class="icofont-smart-phone"></i>
        </div>
        <span class="rh5">Customer Engagement</span>
      </div>

      <div class="mobiledev-cell5 mobiledev-cell5-4" data-aos="fade-up" data-aos-delay="300">
        <div class="mobiledev-circle">
          <i class="icofont-smart-phone"></i>
        </div>
        <span class="rh5">Appointment Scheduling</span>
      </div>
    </div>

    <div class="mobiledev-row">
      <div class="mobiledev-cell5 mobiledev-cell5-5" data-aos="fade-up" data-aos-delay="400">
        <div class="mobiledev-circle">
          <i class="icofont-smart-phone"></i>
        </div>
        <span class="rh5">Client Reporting</span>
      </div>

      
    </div>
  </div>

  <div class="mobiledev-row">
    <div class="mobiledev-cell2 mobiledev-cell2-1">
      <img src="assets/img/mobiledev/xamarin.png" class="mobiledev-xamarin" />
    </div>
    <div class="mobiledev-cell2 mobiledev-cell2-2">
      <p class="rp rm1">
        We use Microsoft's powerful XAML technology to build rich, interactive applications.
        Leverage your existing APIs or create new ones. Integrate your app with your back
        office systems or your website. We target all leading mobile platforms.
      </p>
    </div>
  </div>

  <div class="action action-grey">
    <span>A mobile application for your business is within your reach. We can make your vision a reality.</span>
    <a class="btn btn-primary" [routerLink]="['/home']" fragment="contact" skipLocationChange>Get started now</a>
  </div>
</section>
<!-- ======= End Mobile Development Section ======= -->
<!-- ======= Contact Section ======= -->
<app-contact *ngIf="false"></app-contact>
<!-- End Contact Section -->
<div id="preloader"></div>

