
@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html, body {
  height: 100%;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

.aligncenter {
  display: block;
  margin: 0 auto 15px;
}

a:focus {
  outline: 0px solid;
}

img {
  max-width: 100%;
  height: auto;
}

.fix {
  overflow: hidden;
}

p {
  margin: 0 0 15px;
  color: #444;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  
  margin: 0 0 15px;
  color: #444;
  font-weight: 500;
}

h1 {
  font-size: 48px;
  line-height: 50px;
}

h2 {
  font-size: 38px;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  line-height: 32px;
}

h4 {
  font-size: 24px;
  line-height: 26px;
}

h5 {
  font-size: 20px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
}

a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

  a:hover {
    color: #3EC1D5 !important;
    text-decoration: none !important;
  }

  a:active, a:hover {
    outline: 0 none;
  }

body {
  background: #fff none repeat scroll 0 0;
  color: #444;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: left;
  overflow-x: hidden;
  line-height: 22px;
  position: relative;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: transparent;
  color: #fff;
  padding: 2px 1px 0px 2px;
  font-size: 32px;
  border-radius: 20px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #3EC1D5;
  color: #fff;
  outline: none;
}



.clear {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

input, select, textarea, input[type="text"], input[type="date"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"], button, button[type="submit"] {
  -moz-appearance: none;
  box-shadow: none !important;
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.gif") no-repeat center center;
}

::-moz-selection {
  background: #3EC1D5;
  text-shadow: none;
}

::selection {
  background: #3EC1D5;
  text-shadow: none;
}

.area-padding {
  padding: 2vw 1vw 1vw 1vw;
}

.area-padding-2 {
  padding: 70px 0px 50px;
}

.padding-2 {
  padding-bottom: 90px;
}

.section-headline h2 {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 70px;
  position: relative;
}

  .section-headline h2::after {
    border: 1px solid #333;
    bottom: -20px;
    content: "";
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 60%;
  }

.sec-head {
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.flexx-table {
  flex-direction: column;
}

.flexx-row {
  flex-direction: row;
}

.flexx-cell2 {
  flex-basis: 50%;
}

.flexx-cell3 {
  flex-basis: 33.333%;
}

.flexx-cell4 {
  flex-basis: 25%;
}

.flexx-cell5 {
  flex-basis: 20%;
}

.flexx-table,
.flexx-row,
.flexx-cell2,
.flexx-cell3,
.flexx-cell4,
.flexx-cell5 {
  display: flex;
  flex-grow: 1;
}

.justify-content-space-even {
  justify-content: space-evenly;
  flex-grow: 1;
}

.shadow {
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.3);
}

.img-cover {
  object-fit: cover;
}
.small-font {
    font-size:14pt;
}
.under-construction {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  padding: 3vw;
  margin: 3vw;
  background-color: teal;
}

  .under-construction i {
    font-size: 80px;
    color: yellow;
    margin-bottom: 2vw;
  }

  .under-construction a {
    color: rgb(185, 185, 185);
  }

    .under-construction a:hover {
      color: white;
    }


/*--------------------------------------------------------------
# Action
--------------------------------------------------------------*/
.action {
  display: flex;
  flex-direction: row;
  margin-top: 2vw;
  padding: 1vw;
  justify-content: center;
  align-items: center;
}

  .action span {
    font-size: clamp(14px,3vw,18px);
    margin-right: 20px;
    font-weight: 700;
  }

.action-khaki {
  background-color: khaki;
}

.action-blue {
  background-color: deepskyblue;
}

.action-grey {
  background-color: lightgrey;
}


@media (max-width: 991px) {
  .action {
    flex-direction: column;
    padding: 2vw 3vw 2vw 3vw;
  }

    .action span {
      margin-right: 0px;
      text-align: center;
    }

    .action button {
      margin-top: 1vw;
    }
}


/*--------------------------------------------------------------
# Header and content
--------------------------------------------------------------*/

#content {
  min-height: calc(100vh - 80px); /*keep the footer pinned to the bottom*/
  margin-top: 70px;
}

#header {
    display:flex;
    flex-direction:row;
    align-content:center;
    transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  height: 70px;
  border-bottom: solid 6px grey;
}

#header, #nav-container {
  background: #333337;
}

.logo-container {
    display:flex;
    align-items:center;
    max-width:38vw;
}
  .logo-container a {
      line-height:1;
  }  

#nav-container {
  
  margin-left:auto;
  max-width:60vw;
  
}

@media (max-width: 768px) {
  

    #header .logo h1 {
      font-size: 28px;
      padding: 4px 0;
    }

  #content {
    min-height: calc(100vh - 60px);
    margin-top: 60px;
  }

  #header {
    height: 60px;
  }
}

@media (max-width: 991px) {
  
}


.home-overly {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.my-navbar {
    
}
.my-navbar, .my-navbar .dropdown-menu {
  background-color: #333337;
  border-color: #333337;
}

.my-navbar .nav-link, .my-navbar .dropdown-item, .my-navbar .navbar-brand {
  color: #9a9a92;
}

  .my-navbar .nav-link:active, .my-navbar .dropdown-item:active {
    color: whitesmoke;
  }

.my-navbar .nav-link {
   
  text-transform: uppercase;
}

  .my-navbar > div > ul > li > a:hover, .my-navbar > div > ul > li > div > a:hover {
    color: whitesmoke !important;
    transition: 1s !important;
  }  

.my-navbar .dropdown-divider {
  border-top: 1px solid #9a9a92;
}

  .my-navbar .dropdown-item:hover {
    color: #333337;
    background-color: #9a9a92;
    transition:1s;
  }

.my-navbar .dropdown-menu {
    padding:1vw;
}

.activelink {
    color:whitesmoke !important;
}

/* Get Startet Button */
.get-started-btn {
  margin-left: 25px;
  color: #fff;
  border-radius: 4px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #fff;
}

  .get-started-btn:hover {
    background: #fd3800;
    color: #fff;
    border-color: #ff4a17;
  }

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}


/*--------------------------------------------------------------
# Brand
--------------------------------------------------------------*/

.logo-container {
  margin-top: 4px;
  margin-left: 4px;
}

.logo-small {
  font-size: 1vw;
}

.logo, .logo-small {
  font-family: SansMan;
  color: #9a9a92;
}
  .logo:hover {
      color:whitesmoke !important;
  }


/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#home {
  
  border: solid blue 3px;
}
.slide {
  display: flex;
  flex-direction: column;
  flex-grow:1;
  justify-content: flex-start;
  align-items: center;
  
}

.slide1 {
  background-image: url('../img/slider/oldmanlecturing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border: solid yellow 2px;
  width: 100%;
  height: 80vh;
}


.slide-title {
  color: white;
  margin: 2vw 2vw 0vw 2vw;
  padding: 1vw;
  background-color: rgba(0, 0, 0, 0.2);
}

.ready-btn.right-btn {
  margin-right: 15px;
  background: #3EC1D5;
  border: 1px solid #3EC1D5 !important;
}

  .ready-btn.right-btn:hover {
    background: transparent !important;
    border: 1px solid #fff !important;
  }




/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-area {
  background-color: #f9f9f9;
 
}
#about-row {
  margin-left: 5vw;
  margin-right: 5vw;
}
.about-cell-left {
    margin-right:1vw;
}
.about-cell-left img {
  object-fit:cover;
}
.about-cell-right {
  margin-left: 1vw;
}

/* Tablet desktop :768px. */
@media (max-width: 991px) {
  #about-row {
    flex-direction: column;
  }
  .about-cell-left {
      margin-right:0vw;
  }
  .about-cell-right {
      margin-top:1vw;
      margin-left:0vw;
  }
  .about-cell-right p {
    text-align: left;
  }

  .about-cell-left img {
    max-height:80vw;
  }

}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services {
    margin:auto;
}

  .services .svcbox {
    display: flex;
    padding: 20px;
    overflow: hidden;
    margin: 0;
    background: beige;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    text-align: center;
    margin: 30px 15px 0px 15px;
    flex-basis: 50%;
    align-content: center;
    flex-direction: column;
  }
.svcbox p {
    text-align:center;
}
.services .icon-box-red .icon i {
  color: orangered;
}

.services .icon-box-green .icon i {
  color: palegreen;
}

.services .icon-box-blue .icon i {
  color: paleturquoise;
}

.services .icon-box-purple .icon i {
  color: orchid;
}

.services .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
}

.services .title {
  font-weight: bold;
  color: skyblue;
}

.services .copy-container {
  background-color: beige;
  flex: 1;
  /*margin-top: 30px;*/
  margin: 30px 15px 0px 15px;
  border-radius: 8px;
}

.section-headline.services-head > h2 {
  margin-bottom: 25px;
}

.services-details {
  padding-top: 40px;
  transition: all 0.5s ease 0s;
}

  .services-details:hover h4, .services-details:hover .services-icon {
    color: #3EC1D5;
  }

.row.second-row {
  margin-top: 40px;
}

.section-head > h2 {
  color: #333;
}

.single-services > h4 {
  color: #444;
  font-size: 24px;
  font-weight: 500;
}

.single-services > p {
  color: #333;
  font-size: 14px;
}

.copy-container2 {
    display:flex;
    flex-direction:column;
    align-items:center;
}
  .copy-container2 img {
      width:300px;
      margin-bottom:10px;
  }

.inner-table, .outer-table {
    display:flex;
}

.outer-table {
    flex-direction:row;
    justify-content:center;
    justify-items:center;
}
.inner-table {
    flex-direction:column;
    align-content:space-around;
}

@media (max-width: 767px) {
  .outer-table {
    flex-direction: column;
    align-content:center;
    align-items:center;
  }
}
  /*--------------------------------------------------------------
# Web Dev
--------------------------------------------------------------*/
  .webdev-area {
    background-color: #f9f9f9;
  }

  .webdev-img-grid {
    flex-flow: column;
  }

  .webdev-flex-row {
    flex-flow: row;
  }

  .webdev-txt-container {
    margin: 2vw;
    background: rgba(255, 255, 255, 1);
    font-family: Arial;
    padding: .5vw 1.5vw 1.0vw 1.5vw;
    flex-direction: column;
    border-top: solid 4px darkblue;
  }

    .webdev-txt-container i {
      text-align: center;
    }

    .webdev-txt-container .title {
      text-align: center;
      margin-bottom: 15px;
      font-family: Arial;
      color: black;
      font-weight: 700;
    }

    .webdev-txt-container .pointer {
      color: skyblue;
      font-weight: bold;
      margin-right: 6px;
    }

    .webdev-txt-container li {

    }

  .webdev-img-container {
    align-items: center;
    justify-content: center;
  }

  .webdev-img-cell {
    flex-grow: 1;
    flex-basis:0;
  }

  .webdev-img-grid,
  .webdev-flex-row,
  .webdev-img-cell,
  .webdev-txt-container {
    display: flex;
    flex-grow: 1;
  }


  .webdev-cell2-1 {
    padding-right: 1vw;
    width: 60%;
    float: left;
  }

  .webdev-cell2-2 {
    width: 40%;
    float: right;
  }

  .webdev-flex-cell2-3 {
    display: flex;
    flex-grow: 1;
    flex-basis: 40%;
    align-content: flex-start;
    justify-content: flex-start;
  }

  .webdev2-headline {
    color: black;
    margin-top: 1vh;
    margin-right: 2vw;
    font-weight: 300;
    line-height: 6vw;
    text-align: center;
  }

  .webdev2-copy {
    margin-top: 1vh;
    margin-right: 2vw;
    font-weight: 300;
    padding-left: 1vw;
  }

    
  @media (max-width: 767px) {
    .webdev-flex-row {
      flex-flow: column;
    }

    .webdev-cell2-1 {
      padding-left: 2vw;
      padding-right: 1vw;
    }

    .webdev-cell2-1, .webdev-cell2-2 {
      width: unset;
      float: none;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      .webdev-cell2-2 img {
        width: 60vw;
      }

    .webdev-img-cell {
      width: 80vw;
    }


    .webdev-txt-container > i {
      font-size: 18pt !important;
    }
    .webdev-txt-container > .title {
        font-size:14pt !important;
    }

    .webdev-txt-container > ul > li >  .li {
      font-size: 12pt !important;
    }

  }


  /*--------------------------------------------------------------
# Mobile Dev
--------------------------------------------------------------*/


  .mobiledev-circle {
    background-color: #116466;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    padding: 10px;
    margin-right: 1vw;
  }

  .mobiledev-table {
    flex-flow: row;
  }

  .mobiledev-row {
    flex-flow: row;
  }

  .mobiledev-cell2 {
    flex-basis: 50%;
    align-items: center;
  }

  .mobiledev-cell2-1 {
    justify-content: flex-end;
    margin-right: 1vw;
  }

  .mobiledev-cell2-2 {
    justify-content: flex-start;
    margin-left: 1vw;
    margin-right: 6vw;
    font-weight: 300;
    color: black;
    font-size: 15px; /* android does recognize clamp() */
  }

  .mobiledev-cell3 {
    flex-basis: 33.33333%;
  }

  .mobiledev-cell5 {
    background-color: beige;
    color: #D9B08C;
    font-weight: 700;
    align-items: center;
    flex-basis: 20%;
    margin: 1vw;
    padding: .5vw;
    border-top: solid 1vw #2C3531;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.3);
  }

    .mobiledev-cell5 i {
      font-size: 40px;
      color: deepskyblue;
    }

  .mobiledev-cell5-1 {
    background: linear-gradient(rgba(40, 58, 90, 0.1), rgba(40, 58, 90, 0.9)), url("../img/mobiledev/iphone-410311_640.jpg") no-repeat scroll center;
  }

  .mobiledev-cell5-2 {
    background: linear-gradient(rgba(40, 58, 90, 0.1), rgba(40, 58, 90, 0.9)), url("../img/mobiledev/iphone-410324_640.jpg") no-repeat scroll center;
  }

  .mobiledev-cell5-3 {
    background: linear-gradient(rgba(40, 58, 90, 0.1), rgba(40, 58, 90, 0.9)), url("../img/mobiledev/office-620822_640.jpg") no-repeat scroll center;
  }

  .mobiledev-cell5-4 {
    background: linear-gradient(rgba(40, 58, 90, 0.1), rgba(40, 58, 90, 0.9)), url("../img/mobiledev/woman-3083379_640.jpg") no-repeat scroll center;
  }

  .mobiledev-cell5-5 {
    background: linear-gradient(rgba(40, 58, 90, 0.1), rgba(40, 58, 90, 0.9)), url("../img/mobiledev/telephone-586268_640.jpg") no-repeat scroll center;
  }


  .mobiledev-cell5-1 i {
    color: #D1E8E2;
  }

  .mobiledev-cell5-2 i {
    color: #D1E8E2;
  }

  .mobiledev-cell5-3 i {
    color: #D1E8E2;
  }

  .mobiledev-cell5-4 i {
    color: #D1E8E2;
  }

  .mobiledev-cell5-5 i {
    color: #D1E8E2;
  }

  .mobiledev-table,
  .mobiledev-row,
  .mobiledev-cell2,
  .mobiledev-cell3,
  .mobiledev-cell5 {
    display: flex;
    flex-grow: 1;
  }

  .mobiledev-slider-content {
    padding-top: 120px;
  }

  .mobiledev-xamarin {
    max-width: 500px;
  }

  .mobile-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5vw;
    margin-right: 5vw;
  }

    .mobile-img-container img {
      max-width: 30vw;

    }


@media (min-width: 768px) and (max-width: 991px) {
  .mobiledev-row {
    flex-flow: column;
  }

  .mobiledev-cell5 {
      flex-grow:0;
  }

  .mobiledev-xamarin {
    width: 60vw;
    margin: auto;
  }
}

@media (max-width: 767px) {

  .mobiledev-table {
    width: 80vw;
    margin: auto;
    flex-flow:column;
  }

  .mobiledev-row {
    flex-flow: column;
  }

  .mobiledev-cell2-1,
  .mobiledev-cell2-2 {
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
  }

  .mobiledev-xamarin {
    width: 60vw;
    margin: auto;
  }

  .mobile-img-container {
    flex-direction: column;
    align-items: center;
  }

    .mobile-img-container img {
      max-width: 60vw;
    }
}






  /*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

  .contact {
    margin-bottom: 100px;
  }
    

    .contact .info {
      border-top: 3px solid #47b2e4;
      border-bottom: 3px solid #47b2e4;
      padding: 30px;
      background: #fff;
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    }

      .contact .info i {
        font-size: 20px;
        color: #47b2e4;
        float: left;
        width: 44px;
        height: 44px;
        background: #e7f5fb;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
      }

      .contact .info h4 {
        padding: 0 0 0 60px;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
        color: #37517e;
      }

      .contact .info p {
        padding: 0 0 10px 60px;
        margin-bottom: 20px;
        font-size: 14px;
        color: #6182ba;
      }

      .contact .info .email p {
        padding-top: 5px;
      }

      .contact .info .social-links {
        padding-left: 60px;
      }

        .contact .info .social-links a {
          font-size: 18px;
          display: inline-block;
          background: #333;
          color: #fff;
          line-height: 1;
          padding: 8px 0;
          border-radius: 50%;
          text-align: center;
          width: 36px;
          height: 36px;
          transition: 0.3s;
          margin-right: 10px;
        }

          .contact .info .social-links a:hover {
            background: #47b2e4;
            color: #fff;
          }

      .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
        background: #47b2e4;
        color: #fff;
      }

    .contact .php-email-form {
      border-top: 3px solid #47b2e4;
      border-bottom: 3px solid #47b2e4;
      padding: 30px;
      background: #fff;
      box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    }

      .contact .php-email-form .form-group {
        padding-bottom: 8px;
      }

      .contact .php-email-form .validate {
        display: none;
        color: red;
        margin: 0 0 15px 0;
        font-weight: 400;
        font-size: 13px;
      }

      .contact .php-email-form .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: center;
        padding: 15px;
        font-weight: 600;
      }

      .contact .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
      }

      .contact .php-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
      }

        .contact .php-email-form .loading:before {
          content: "";
          display: inline-block;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          margin: 0 10px -6px 0;
          border: 3px solid #18d26e;
          border-top-color: #eee;
          -webkit-animation: animate-loading 1s linear infinite;
          animation: animate-loading 1s linear infinite;
        }

      .contact .php-email-form input, .php-email-form select, .contact .php-email-form textarea {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        border-radius: 4px;
      }

        .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
          border-color: #47b2e4;
        }

      .contact .php-email-form input select {
        height: 44px;
      }

      .contact .php-email-form textarea {
        padding: 10px 12px;
      }

      .contact .php-email-form button[type="submit"] {
        background: #47b2e4;
        border: 0;
        padding: 12px 34px;
        color: #fff;
        transition: 0.4s;
        border-radius: 4px;
      }

        .contact .php-email-form button[type="submit"]:hover {
          background: #209dd8;
        }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }



  .ready-btn {
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-top: 30px;
    padding: 12px 40px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    z-index: 222;
  }

    .ready-btn:hover {
      color: #fff !important;
      background: #3EC1D5;
      border: 1px solid #3EC1D5;
      text-decoration: none;
    }

input:-internal-autofill-selected {
  background-color: white !important;
}


@media (max-width: 767px) {
  .info img {
      width:80vw;
  }
}
/* --------------------------------------- 
# Footer 
    --------------------------------------- */
.separator {
  background-color: gray;
  height: 6px;
  margin: 0;
}

  #footer-content {
    display: flex;
    background-color: #333337;
    flex-flow: column;
    padding: 2vw;
  }


  .footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-cell {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 0px;
    flex-direction: column;
  }

  .grow-align-right {
    text-align: right;
  }

  .link {
    color: white;
    margin-top: 6px;
  }

    .link svg {
      fill: white;
    }

    .link i {
      font-size: 18px;
    }

    .link span {
      margin-left: 3px;
      color: white;
      font-size: 14px;
    }

    .link :hover {
      color: skyblue;
      fill: skyblue;
    }

  .txt {
    color: white;
  }

  .blend {
    color: #330;
  }

@media (max-width: 767px) {
  .footer-row {
      flex-direction:column;
      align-items:unset;
  }

  .footer-cell {
      flex-direction:row;
      justify-content:space-around;
  }

  .grow-align-right {
      margin-top:2vw;
  }
  .grow-align-right, .grow-align-right p {
    text-align: center;
  }
}
/*--------------------------------------------------------------
# Products
--------------------------------------------------------------*/
.product-spacer {
  height: 8vw;
  background-color: black;
}

  .product-banner {
    background-image: url('../img/common/texture4.jpg');
    background-size: cover;
    padding: 3vw;
    margin-top: -1.5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 3px;
  }

    .product-banner h1 {
      color: blue;
      font-size: clamp(16pt,3.5vw,40pt);
      font-family: Lorenza;
      font-weight: 700;
    }

    .product-banner h2 {
      color: whitesmoke;
      font-size: clamp(14pt,2vw,20pt);
    }

  .product-article {
    margin-top: -10px;
    margin-left: 12vw;
    margin-right: 12vw;
    padding-top: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }

    .product-article h1 {
      font-size: clamp(16pt,3vw,18pt);
      font-weight: 600;
    }

    .product-article h2 {
      font-size: 22px;
      font-size: clamp(14pt,2.5vw,16pt);
      font-weight: 600;
    }

  .link-container {
    margin: 2vw 10vw 2vw 10vw;
    padding: 1.5vw;
    border-radius: 6px;
  }

  .github-container {
    background-color: lightgreen;
  }

  .nuget-container {
    background-color: #004880;
  }


  .product-article p, .link-container a {
    font-size: clamp(12pt,2vw,14pt);
    font-weight: 200;
    line-height: 150%;
  }

  .github-container a {
    color: darkblue;
  }

  .nuget-container a {
    color: white;
  }


  .link-container a > span {
    margin-left: 10px;
  }

  .link-container a:hover {
    color: gold;
  }




  /*--------------------------------------------------------------
# Dialogs
--------------------------------------------------------------*/
  .dialog-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
  }





  /* ---------------------------------------
      # Fonts
  --------------------------------------- */
  @font-face {
    font-family: 'SansMan';
    src: url("../fonts/entsans.ttf");
  }

  @font-face {
    font-family: 'Peter Obscure';
    src: url("../fonts/peter-obscure.bold.ttf");
  }

  @font-face {
    font-family: 'Bilbo Regular';
    src: url("../fonts/bilbo.regular.ttf");
  }


  @font-face {
    font-family: 'Krona';
    src: url("../fonts/KronaOne-Regular.ttf");
  }

  @font-face {
    font-family: 'Didact';
    src: url('../fonts/DidactGothic-Regular.ttf');
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/RobotoSlabRegular-w1GE3.ttf');
  }

  @font-face {
    font-family: 'Lorenza';
    src: url('../fonts/Lorenza-lgdp5.ttf');
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
