<div class="d-flex align-content-center justify-content-center flex-column mb-5">
  <div class="product-spacer d-flex"></div>
  <div class="d-flex flex-row">
    <div class="profile-banner d-flex flex-column flex-grow-1 align-items-center">
      <span class="rh4">User Profile</span>
    </div>
  </div>
  <div class="profile-grid product-article shadow flex-row pb-5">

    <div class="profile-label">
      <label class="rh6">Account ID:</label>
    </div>
    <div class="profile-data">
      <label class="rh6">{{Profile.accountIdentifier}}</label>
    </div>

    <div class="profile-label">
      <label class="rh6">Name:</label>
    </div>

    <div class="profile-data">
      <label class="rh6">{{Profile.name}}</label>
    </div>

    <div class="profile-label">
      <label class="rh6">Email:</label>
    </div>

    <div class="profile-data">
      <label class="rh6">{{Email}}</label>
    </div>

    <div class="profile-label">
      <label class="rh6">API:</label>
    </div>

    <div class="profile-data">
      <label class="rh6">{{ApiVerification}}</label>
    </div>
  </div>
</div>
