<div class="d-flex align-content-center justify-content-center flex-column mb-5">
  <div class="product-spacer d-flex"></div>
  <div class="d-flex flex-row">
    <div class="product-banner d-flex flex-column flex-grow-1 align-items-center">
      <h1>Caching Library</h1>
      <h2>Multi-Index Cache and Cache.</h2>
    </div>
  </div>
  <div class="product-article shadow flex-row">


    <h1>Multi-Index Cache</h1>
    <h2>Features</h2>
    <p>
      Multi Index Cache is a dictionary that allows object retrieval using multiple lookups. For example a collection of Student objects can be accessed using StudentID or Social Security Number
      as a key.  A Security object may be retrieved from cache using ISIN or CUSIP as a key.
    </p>
    <p>
      For more information see the <a href="https://github.com/leaderanalytics/Caching" target="_blank">Leader Analytics Caching Library</a> page on GitHub.
    </p>


    <div class="link-container nuget-container">
      <a href="https://www.nuget.org/packages/LeaderAnalytics.Caching/" target="_blank" class="d-flex flex-row align-items-center">
        <img src="assets/img/footer/nuget.png" />
        <span>Get the Caching Library nuget package.</span>
      </a>
    </div>



    <h1>Cache</h1>
    <h2>Features</h2>
    <p>
      Despite its hapless name Cache provides several useful features not found in other Dotnet cache objects.
    </p>
    <p>
      Cache is backed by ConcurrentDictionary.  It is thread safe.
    </p>
    <p>
      Cache supports two eviction strategies: time elapsed since the object was added, and time elapsed since the object was last accessed.
    </p>
    <p>
      Individual instances of Cache can be enabled or disabled, or a Cache Manager can be used to enable or disable caching across the entire application.
    </p>

    <p>
      For more information see the <a href="https://github.com/leaderanalytics/Caching#cache" target="_blank">Leader Analytics Caching Library</a> page on GitHub.
    </p>

    <div class="link-container github-container">
      <a href="https://github.com/leaderanalytics/AdaptiveClient" target="_blank" class="d-flex flex-row align-items-center">
        <svg height="36" viewBox="0 0 16 16" version="1.1" width="36" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
        <span>Get the source code on GitHub.  Leader Analytics Caching Library is free and open source, even for commercial use.</span>
      </a>
    </div>
    <p></p>
  </div>
</div>
