<div class="d-flex align-content-center justify-content-center flex-column mb-5">
  <div class="product-spacer d-flex"></div>
  <div class="d-flex flex-row">
    <div class="product-banner d-flex flex-column flex-grow-1 align-items-center">
      <h1>Vyntix</h1>
      <h2>A platform for managing economic and financial data</h2>
    </div>
  </div>
  <div class="product-article shadow flex-row">
    <div class="under-construction">
      <i class="icofont-under-construction"></i>
      <span class="rh4">Vyntix is still in development.  Beta releases are scheduled for the second half 2022.</span>
      <span class="rh6"><a class="rh6" [routerLink]="['/home']" fragment="contact">Please send us a note</a> if you would like to request a feature or if you are interested in contributing to the design of Vyntix.</span>
    </div>
    <p></p>
  </div>
</div>
