<div class="d-flex align-content-center justify-content-center flex-column mb-5">
  <div class="product-spacer d-flex"></div>
  <div class="d-flex flex-row">
    <div class="product-banner d-flex flex-column flex-grow-1 align-items-center">
      <h1>Renewals</h1>
      <h2>Manage software subscriptions with ease.</h2>
    </div>
  </div>
  <div class="product-article shadow flex-row">
    <div class="under-construction">
      <i class="icofont-under-construction"></i>
      <h5><span>Renewals is still in development.  It is scheduled for release in Q3 2020.</span></h5>
    </div>
    <p></p>
  </div>
</div>








