/*
    https://metroui.org.ua/
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes

*/

.flex-row {
    display: flex;
    flex-flow: row nowrap;
}

.flex-column {
    display: flex;
    flex-flow: column nowrap;
}

/* Primary axis */

.flex-justify-start {
    justify-content:flex-start;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-end {
    justify-content: flex-end;
}

/* Secondary axis */

.flex-align-start {
    align-items:flex-start;
}
.flex-align-center {
    align-items: center;
}
.flex-align-end {
    align-items: flex-end;
}
.section {
    background-size: 100% 90vh;
    width: 100vw;
    padding: 20px;
    margin: 0px;
}
.separator {
    background-color: gray;
    width: 100vw;
    height: 12px;
    margin: 0;
}

#main {
    width:100vw;
    padding:0px;
    margin:0px;
}

#vintages {
    /*background: url("../images/background-68622__340.jpg");*/
}

#vintages-cover-img {
    width:30vw;
    margin-right:1vw;
}

#vintages-content {
    margin-left: 1vw;
}

.vintages-headline {
    font-family: 'Peter Obscure';
    font-size:8vw;
    margin:0 0 .5vh 0;
}

#custom-software {
    background: url("../images/red-1937356_1920.jpg");
}

#custom-software-cover-img {
    width: 60vw;
}

#custom-software-content {
    margin-right: 1vw;
    width:40vw;
}

.custom-software-headline {
    font-family: 'Bilbo Regular';
    font-size: 5vw;
}


#web-development {
    background: url("../images/new-york-690868_1920.jpg");
}

#web-development-cover-img {
    width: 60vw;
}

#web-development-content {
    margin-right: 1vw;
    width: 40vw;
}

.web-development-headline {
    font-family: 'Bilbo Regular';
    font-size: 5vw;
}



@font-face {
    font-family: Fabrik;
    src:url("/fonts/fabrik.ttf");
}

@font-face {
    font-family: 'Peter Obscure';
    src: url("/fonts/peter-obscure.bold.ttf");
}

@font-face {
    font-family: 'Bilbo Regular';
    src: url("/fonts/bilbo.regular.ttf");
}