/*
    https://metroui.org.ua/
    https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes

*/

.section {
    padding:8vh 2vw 8vh 2vw;
    margin: 0px;
}
.separator {
    background-color: gray;
    height: 12px;
    margin: 0;
}

#main {
    background-image: url('../images/iStock-499519490.jpg');
    background-size: cover;
    margin: 0;
    height:90vh;
}
#logo-container {
    margin:60px 0px 0px 0px;
    font-size: 4vw;
}
.logo {
    font-family:Toxic;
    color:#7e0606;
}
#vintages {
    /*background: url("../images/background-68622__340.jpg");*/
    background-color:darkgray;
}

#vintages-cover-img {
    margin-right:1vw;
}

#vintages-content {
    margin-left: 1vw;
}

.vintages-headline {
    font-family: 'Peter Obscure';
    background-color: #7e0606;
    font-size: 5vw;
    padding:2px 8px 12px 8px;
    margin-bottom: 3vh;
}

#custom-software {
    background: url("../images/new-york-690868_1920.jpg");
    /*background: url("../images/red-1937356_1920.jpg");*/
    /*background-color:orange;*/
}

#custom-software-cover-img {
    padding:0 2vw 0 0;
 
}

#custom-software-content {
    margin-right: 1vw;
}

.custom-software-headline {
    /*font-family: 'Bilbo Regular';*/
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 2vw;
    padding-bottom: 2vw;
    display:inline-block;
}

.feature-box {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: 1.5vw;
    min-width:200px;
    max-width:200px;
    width:200px;
}
.feature-box-title {
    background-color: black;
    color: white;
    padding: 2vw;
    font-size:80%;
    min-height:12vh;
    font-size:110%;
}
.feature-box-content {
    padding: 2vw;
}



#web-development {
    background: url("../images/new-york-690868_1920.jpg");
    
}

#web-development-cover-img {
}

#web-development-content {
    margin-right: 1vw;
}

.web-development-headline {
    font-family: 'Bilbo Regular';
    font-size: 5vw;
}



@font-face {
    font-family: Toxic;
    src:url("/fonts/toxigenesis.bold.ttf");
}

@font-face {
    font-family: 'Peter Obscure';
    src: url("/fonts/peter-obscure.bold.ttf");
}

@font-face {
    font-family: 'Bilbo Regular';
    src: url("/fonts/bilbo.regular.ttf");
}
