/*
    iPhone 1 – 3gs: 320 x 460 px
    iPhone 4 – 4s: 640 x 920 px
    iPhone 5: 640 x 1096 px
    iPhone 6: 750 x 1294 px
    iPhone 6 Plus: 1242 x 2148 px

*/

@media only screen and (max-width: 800px) {


    .flex-grid .row .cell:nth-child(1):last-child,
    .flex-grid .row .cell[class*=size]:nth-child(1):last-child,
    .flex-grid .row .cell:nth-child(3):last-child,
    .flex-grid .row .cell[class*=size]:nth-child(3):last-child,
    .flex-grid .row .cell:nth-child(5):last-child,
    .flex-grid .row .cell[class*=size]:nth-child(5):last-child,
    .flex-grid .row .cell:nth-child(7):last-child,
    .flex-grid .row .cell[class*=size]:nth-child(7):last-child,
    .flex-grid .row .cell:nth-child(9):last-child,
    .flex-grid .row .cell[class*=size]:nth-child(9):last-child,
    .flex-grid .row .cell:nth-child(11):last-child,
    .flex-grid .row .cell[class*=size]:nth-child(11):last-child {
        /*bug fix: this causes the last cell in a row to become disproportionately larger than all other cells*/

        -webkit-flex-basis: 0;
        flex-basis: 0;
    }


    .flex-grid .row .cell, .flex-grid .row [class*=size].cell {
        -webkit-flex: 1 0 100%;
        flex: 1 0 100%;
    }
}


/* ie fix */
@media only screen and (max-width: 640px) {
    .flex-grid .row {
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    #web-development-content-leader {
        width: 3vw;
    }

    #web-development-content {
        max-width: 80vw;
        min-width: 0px;
    }

    .footer-row {
        flex-direction: column;
    }

    .bare-list {
        text-align:center;
    }

    .grow-align-right {
        text-align:center;
    }
}